<form action="/random/results">
  <label for="random_min_input">Minimum</label>
  <input id="random_min_input" type="text" placeholder="E.g. 1.5" name="min_user_input">

  <label for="random_max_input">Maximum</label>
  <input id="random_max_input" type="text" placeholder="E.g. 4.5" name="max_user_input">

  <button>Pick random number</button>
</form>