<form action="/square_root/results">
  <label for="square_root_input">Enter a number</label>
  <input id="square_root_input" type="text" placeholder="What number do you want to take the square root of?" name="square_root_user_input">

  <button>Calculate square root</button>
</form>