<form>
  <label for="square_input">Enter a number</label>
  <input id="square_input" type="text" placeholder="What number do you want to take the square of?" name="square_user_input">

  <button>Calculate square</button>
</form>